<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410570208593-ik5kr227e68nc4u9tugv074e05bskdcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410570208593-ik5kr227e68nc4u9tugv074e05bskdcj</string>
	<key>API_KEY</key>
	<string>AIzaSyDkRoGfI_CBsrKNrxr4Mb-hu8-hZyAEC0U</string>
	<key>GCM_SENDER_ID</key>
	<string>410570208593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>ackproject-b71b2</string>
	<key>STORAGE_BUCKET</key>
	<string>ackproject-b71b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410570208593:ios:bd2c54d3842a05d118cf70</string>
	<key>DATABASE_URL</key>
	<string>https://ackproject-b71b2.firebaseio.com</string>
</dict>
</plist>